<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Loading...</title>
</head>
<body>

<script>

const params = new URLSearchParams(window.location.search);
const id = params.get("id");

if(!id){
  document.body.innerText = "No client ID";
}

fetch("../clients/" + id + ".json")
.then(res => {
  if(!res.ok) throw new Error("HTTP " + res.status);
  return res.json();
})
.then(data => {

  const template = data.template || "basic";

  if(template === "pro"){
    window.location.href = "../view/pro.html?id=" + id;
  }
  else if(template === "elite"){
    window.location.href = "../view/elite.html?id=" + id;
  }
  else{
    window.location.href = "../view/basic.html?id=" + id;
  }

})
.catch(err => {
  console.error(err);
  document.body.innerText = "Client not found";
});

</script>

</body>
</html>
